<%- include('templates/header',{css:["css/index.css"]}) %>

<br><br><br><br><br>
<h1 style="text-align:center;display: block; width:100%;">Network</h1>
<div style="text-align:center;display: block; width:100%;">to be added soon</div>
<style>
    body {
        padding:2rem;
        display: block;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        font-family: Arial, sans-serif;
        font-size: 2rem;
    }

</style>

<%- include('templates/footer', {currentPage:'network'}) %>

