body {
  /* fallback for old browsers */
  background: #013C70;
}
.btn-explore {
  background-color: var(--accent-yellow);
  color: var(--primary-blue);
  font-weight: 600;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 50px;
  transition: all 0.3s ease;
  margin-top: 1rem;
}

.btn-explore:hover {
  background-color: var(--primary-blue);
  color: white;
  transform: translateY(-2px);
}
/*  !* Chrome 10-25, Safari 5.1-6 *!*/
/*  background: -webkit-linear-gradient(*/
/*    to right,*/
/*    #001f3f,*/
/*    rgba(143, 211, 244, 0.5)*/
/*  );*/

/*  !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
/*  background: linear-gradient(*/
/*    to right,*/
/*    #001f3f,*/
/*    rgba(143, 211, 244, 0.5)*/
/*  );*/
/*}*/
/*.gradient-custom-4 {*/
/*  !* fallback for old browsers *!*/
/*  background: #013C70;*/

/*  !* Chrome 10-25, Safari 5.1-6 *!*/
/*  background: -webkit-linear-gradient(*/
/*    to right,*/
/*    #013C70,*/
/*    rgba(143, 211, 244, 1)*/
/*  );*/

/*  !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
/*  background: linear-gradient(*/
/*    to right,*/
/*    rgba(132, 250, 176, 1),*/
/*    rgba(143, 211, 244, 1)*/
/*  );*/
/*}*/
