
<nav class="navbar fixed-bottom bg-white shadow-lg p-3">
    <div class="container d-flex justify-content-around">
        <a href="/home" class="nav-item nav-link ">
            <div class="icon-wrapper">
                <i class="bi bi-house-door fs-3"></i>
            </div>
        </a>
        <a href="/jobs" class="nav-item nav-link ">
            <div class="icon-wrapper">
                <i class="bi bi-briefcase fs-3"></i>
            </div>
        </a>
        <a href="/share" class="nav-item nav-link ">
            <div class="icon-wrapper">
                <i class="bi bi-share fs-3"></i>
            </div>
        </a>
        <a href="/profile" class="nav-item nav-link ">
            <div class="icon-wrapper">
                <i class="bi bi-person-circle fs-3"></i>
            </div>
        </a>
    </div>
</nav>
</body>
</html> 