
<nav   class="navbar fixed-bottom bg-white shadow-lg p-3">
    <div class="container d-flex justify-content-around">
        <a href="/" class="nav-item nav-link <%=currentPage === 'home' ? 'active':''%>">
            <div class="icon-wrapper">
                <i class="bi bi-house-door fs-3"></i>
            </div>
        </a>
        <a href="/careers" class="nav-item nav-link  <%=currentPage === 'careers' ? 'active':''%>">
            <div class="icon-wrapper">
                <i class="bi bi-briefcase fs-3"></i>
            </div>
        </a>
        <a href="/notifications" class="nav-item nav-link <%= currentPage === 'notifications' ? 'active' : '' %>">
  <div class="icon-wrapper">
    <i class="bi bi-bell fs-3"></i>
  </div>
</a>
        <a href="/account" class="nav-item nav-link  <%=currentPage === 'account' ? 'active':''%>">
            <div class="icon-wrapper">
                <i class="bi bi-person-circle fs-3"></i>
            </div>
        </a>
    </div>
</nav>
<style>
    .active{
        color: #001f3f;
    }
</style>


<br><br><br><br><br><br><br><br><br>